

@font-face {
    font-family: 'poppins_bold';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins_med';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}


@font-face {
    font-family: 'poppins_light';
    src: url('./fonts/Poppins-Light.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/Poppins-Light.ttf') format('truetype');
}


@font-face {
    font-family: 'inter_reg';
    src: url('./fonts/static/Inter-Regular.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/Inter-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'inter_medium';
    src: url('./fonts/static/Inter-Medium.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/Inter-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'inter_bold';
    src: url('./fonts/static/Inter-Bold.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/Inter-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'inter_light';
    src: url('./fonts/static/Inter-Thin.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/Inter-Thin.ttf') format('truetype');
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    20% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.Load_Item {
    animation: fadeInOut 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}


#CV_Component{
    position: relative;
    width: 100%;
    top: 0px;
    padding-bottom: 200px;
}


@font-face {
    font-family: 'inter_bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype'),
        /* Modern Browsers */
        url('fonts/Poppins-Bold.ttf') format('truetype');
}


#top_nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    max-width: 800px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 40px;
    align-items: center;
}

#print_img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: .2s ease-in-out;
}

#print_img:hover {
    transform: translateY(-2px) scale(1.02);
}


#Back_Arrow {
    width: 10px;
    height: 10px;
    vertical-align: center;

}

#back_button {
    font-family: "inter_bold";
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#back_button:hover {
    transform: translateY(-2px) scale(1.02);
}


#Resume_Container {
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -0%);
    max-width: 800px;
    height: 100%;
    width: 70%;
    transition: .25s ease-in-out;
}   



#bottom_socials_container_cv {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 40px;
}


#source_code_img{
    width: 20px;
    height: 20px;
}

#source_code_text{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: "inter_bold";
    color: white;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    transition: .2s ease-in-out;
}

#source_code_text:hover{
    transform: translateY(-2px) scale(1.02);
}

.bottom_socials_imgs {
    width: 18px;
    height: 18px;
    background-color: rgb(10, 10, 10, 0);
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.bottom_socials_imgs:hover{
    transform: translateY(-2px) scale(1.02);
}

#Loader_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 25px;
    padding: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}


#spacing_bottom{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: red;
}


@media screen and (max-width: 750px) {
    #Resume_Container {
        width: 95%;
    }


    #top_nav {
        width: 95%;
    }

}







