
body{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
}

@font-face {
    font-family: 'Work Sans Extra Bold';
    src: url('./fonts/static/WorkSans-ExtraBold.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('./fonts/static/WorkSans-Bold.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Medium';
    src: url('./fonts/static/WorkSans-Medium.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('./fonts/static/WorkSans-Regular.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('./fonts/static/WorkSans-Light.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Thin';
    src: url('./fonts/static/WorkSans-Thin.ttf') format('truetype'),
        /* Modern Browsers */
        url('./fonts/static/WorkSans-Thin.ttf') format('truetype');
}

body, html{
    overflow: hidden;
    background-color: #181818;
}

#main_container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 50px;
 align-items: flex-start;
 height: 100%;
 width: 100%;
}

#side_navbar{
  min-width: 200px;
}

#content_container{
   max-width: 1200px;
   padding: 25px 25px;
   width: 100;
}


.fade-in-up {
  opacity: 0;
  transform: translateY(25px);
   transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1),
              transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}






#Main_Component{

    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.fixed_navbar{

 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.navbar_name, #time{
    color: white;
    font-family: "Work Sans Medium";
    max-width: 800px;
    font-size: 16px;
}

.navbar_name{
    color: #515151;
}


/*HERO STYLES*/
.hero_container{


    position: relative;
    width: 100%;
}

.block_outline{
    border: 1px solid rgba(255, 255, 255, .15)
}

#hero_title{

    font-family: "Work Sans Thin";
    color: white;
    font-size: 85px;
    letter-spacing: 1px;
    white-space: pre-wrap;
    text-transform: uppercase;
}



#hero_sub_text{
    color: #703E44;
    font-family: "Work Sans Bold";
    font-size: 18px;
  
}

#about_me_text{
    color: #515151;
    font-family: "Work Sans Medium";
    max-width: 800px;
    font-size: 18px;
    line-height: 25px;
}





/*HERO STYLES*/



#about_me{

    height: 20000px;

}